# overlay tar path: buildroot/board/rockchip/rk356x/fs-overlay/etc/udev/rules.d/99-sdcard.rules
# system tar path: /etc/udev/rules.d/99-sdcard.rules
# test
KERNEL=="mmcblk1p1", SUBSYSTEM=="block", ACTION=="add", RUN+="/userdata/scripts/sd-mount.sh"
KERNEL=="mmcblk1p1", SUBSYSTEM=="block", ACTION=="remove", RUN+="/userdata/scripts/sd-umount.sh"
